.recipe{

    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    position: relative;   
}
.recipe{
    transition: .2s ease-in-out;
}
.recipe:hover{
    transform: scale(1.1, 1.1);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.productList{
    width: 100%;
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
}
