body{
  background-color: #9CCAFF;
}
.search{
  width: 400px;
  margin: 0 auto;
}
.nav{
  margin-top: 0;
  display: inline-block;
  
}

.primary{
  color: #4FA1FF
}
.primary-2{
  color: #9CCAFF
}
.primary-3{
  color: #285180
}
.secondary{
  color: #4E6580
}
.background {
  color: #3F81CC
}
