body{
  background-color: #fff;
}
.search{
  width: 400px;
  margin: 0 auto;
}
.nav{
  margin-top: 0;
  display: inline-block;
  
}
/* 
.primary{
  color: #0984e3
}
.warning{
  color: #F39237
}
.success{
  color: #40BCD8
}
.danger{
  color: #D63230
}
.secondary {
  color: #484D6D
}

.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #536DFE; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } */
