body {
  background-color: #fff;
}
.search {
  width: 400px;
  margin: 0 auto;
}
.nav {
  margin-top: 0;
  display: inline-block;
}
.loader {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-header p {
  font-size: 16px;
}

/* Colors */
/* 
  #e2f3f5
  #22d1ee
  #3d5af1
  #0e153a */
